<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" th:href = "@{/estilos.css}">
</head>
<body>
    <h1>Lista de Clientes</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Gênero</th> 
                <th>Telefone</th> 
                <th>Endereço</th> </tr>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cli : ${clientes}">
                <td th:text="${cli.id}">1</td>
                <td th:text="${cli.nome}">Nome do Cliente</td>
                <td th:text="${cli.cpf}">123.456.789-00</td>
                <td th:text="${cli.email}">email@cliente.com</td>

                <td th:text="${cli.genero}">Gênero</td>
                <td th:text="${cli.telefone}">Telefone</td>

                <td th:text="${cli.rua + ', ' + cli.numero + ' - ' + cli.bairro + ', ' + cli.cidade}">
                    Endereço Completo
                </td>


                <td><a th:href="@{'/excluirCliente/' + ${cli.id}}">Remover</a></td>
                <td><a th:href="@{'/editarCliente/' + ${cli.id}}">Editar</a></td>
            </tr>
        </tbody>
    </table>

    <br>
    <a th:href="@{/adicionarCliente}">Adicionar Novo Cliente</a>
    <a th:href="@{/}"> Voltar para o Início</a>
    </br>
 
</body>
</html>