<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" th:href = "@{/estilos.css}">
    <link rel="icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <h1 class="header-purpurina">Lista de Dependentes</h1>

    <table class="tabela">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome do Dependente</th>
                <th>Data Nasc.</th>
                <th>Gênero</th>
                <th>Cliente (Responsável)</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dep : ${dependentes}">
                <td th:text="${dep.id}">1</td>
                <td th:text="${dep.nome}">Nome Dependente</td>
                <td th:text="${dep.dataNascimento}">01/01/2020</td>
                <td th:text="${dep.genero}">Gênero</td>
                <td th:text="${dep.cliente.nome}">Nome do Cliente</td>
                
                <td>
                    <a class="link-acao" th:href="@{'/editarDependente/' + ${dep.id}}">Editar</a>
                </td>
                <td>
                    <a class="link-acao" th:href="@{'/excluirDependente/' + ${dep.id}}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

<div class="grupo-icones-acao">

     <a th:href="@{/listarClientes}" class="btn-icone-grande" title="Voltar à Lista de Clientes">
        <i class="fas fa-arrow-left"></i>
        <span class="sr-only">Voltar à Lista de Clientes</span> 
    </a>

    <a th:href="@{/}" class="btn-icone-grande" title="Voltar para o Início">
        <i class="fas fa-home"></i>
        <span class="sr-only">Voltar para o Início</span> 
    </a>

    <a th:href="@{/adicionarDependente}" class="btn-icone-grande" title="Adicionar Novo Dependente">
        <i class="fas fa-users-viewfinder"></i> <i class="fas fa-user-plus"></i>
        <span class="sr-only">Adicionar Novo Dependente</span> 
    </a>


    

    


</div>

</body>
</html>