/* estilos.css */

body {
  font-family: sans-serif;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: flex;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.ativo) {
  background-color: #333333;
}

.ativo {
  background-color: #e55039;
}

.empurrar-direita {
  margin-left: auto;
}