<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Beba Notícias</title>

    <link rel = "stylesheet" href = "css/estilos.css">  

    <link rel="icon" href="assets/favicon.ico">
    
</head>
<body>
    <nav> 
        <ul> 
            <li> <a href = "/index"> Início </a></li>
            <li> <a href = "/adicionarPessoas"> Adicionar Pessoas </a></li>
            <li> <a href = "/listarPessoas"> Listar Pessoas </a></li>
            <li class = "empurrar-direita"> 
                <a class = "ativo" href = "/contato"> Contato </a></li>
            <li> <a href = "/sobre"> Sobre o Site </a></li>
            <li> <a href = "/noticias"> Notícias </a></li>
        </ul>
    </nav>
    <h1 class = "texto-recuado"> Contate-nos </h1>
    <h2 class = "texto-recuado"> 84998643688 </a></h2>
    <h2 class = "texto-recuado"> <a style = "color:black" href="https://mail.google.com/mail/u/0/#inbox?compose=jrjtWvNPSjLqzlMDGqHBZgFnrVjSgKqGndqlsQnltwFFngtwhdbjTmdKRMdVkKLNDqhQLHpn" target="_blank">a.mateussouza04@gmail.com </a></h2>
</body>
</html>