<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beba Notícias</title>

    <link rel = "stylesheet" th:href = "@{/css/estilos.css}"> 

    <link rel="icon" th:href= "@{/assets/favicon.ico}">
    
</head>
<body>
    <nav> 
        <ul> 
            <li> <a th:href = "@{/index}"> Início </a></li>
            <li> <a th:href = "@{/adicionarPessoas}"> Adicionar Pessoas </a></li>
            <li> <a class = "ativo" th:href = "@{/listarPessoas}"> Listar Pessoas </a></li>
            <li class = "empurrar-direita"> 
                <a th:href = "@{/contato}"> Contato </a></li>
            <li> <a th:href = "@{/sobre}"> Sobre o Site </a></li>
            <li> <a th:href = "@{/noticias}"> Notícias </a></li>
        </ul>
    </nav>

    <h1 class = "texto-recuado"> Lista de Pessoas</h1>

    <div class = "container-lista"> 

        <table class = "tabela-pessoas">
            <thead> 
                <tr> 
                    <th> id </th>
                    <th> Nome Completo </th>
                    <th> e-Mail </th>
                    <th> Data de Nascimento </th>
                    <th> Gênero </th>
                    <th> Editar </th>
                    <th> Remover </th>
                 </tr>
            </thead>
            <tbody> 
                <tr th:each = "p : ${pessoas}">
                    <td th:text = "${p.id}"> 1 </td>

                    <td th:text = "${p.nome}"> Nome da Pessoa </td>

                    <td>
                        <a th:href = "@{'mailto' + ${p.email}}" th:text = "${p.email}" > email@dominio.com</a>
                        </td>

                    <td th:text = "${p.getDataNascimentoFormatada()}"> 10/10/2010 </td>

                    <td th:text = "${p.genero}"> Não Informado </td>

                    <td> <a th:href = "@{'/editarPessoas/' + ${p.id}}"> Editar</a> </td>
                    <td> <a th:href = "@{'/remover/' + ${p.id}}"> Remover </a> </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>