<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beba Notícias</title>

    <link rel = "stylesheet" th:href = "@{css/estilos.css}"> 

    <link rel="icon" th:href= "@{assets/favicon.ico}">
    
</head>
<body>
    <nav> 
        <ul> 
            <li> <a th:href = "@{/index}"> Início </a></li>
            <li> <a th:href = "@{/adicionarPessoas}"> Adicionar Pessoas </a></li>
            <li> <a th:href = "@{/listarPessoas}"> Listar Pessoas </a></li>
            <li class = "empurrar-direita"> 
                <a th:href = "@{/contato}"> Contato </a></li>
            <li> <a th:href = "@{/sobre}"> Sobre o Site </a></li>
            <li> <a class = "ativo" th:href = "@{/noticias}"> Notícias </a></li>
        </ul>
    </nav>

    <h1 class= "texto-recuado"> Catálogo de sites de notícias </h1>

    <div class = "texto-recuado">
        
        <h2> Veja as notícias no G1: </h2>
        <p> 
            <a href = "https://g1.globo.com" target = "_blank"> g1.globo.com </a>
        </p>

            <h2> Veja as notícias no UOL: </h2>
        <p> 
            <a href = "https://noticias.uol.com.br" target = "_blank"> noticias.uol.com.br </a>
        </p>

            <h2> Veja as notícias no Google: </h2>
        <p> 
            <a href = "https://news.google.com" target = "_blank"> news.google.com </a>
        </p>

    </div>

</body>
</html>