<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Beba Notícias</title>

    <link rel = "stylesheet" href = "css/estilos.css"> 

    <link rel="icon" href="assets/favicon.ico">
    
</head>
<body>
    <nav> 
        <ul> 
            <li> <a href = "/index"> Início </a></li>
            <li> <a href = "/adicionarPessoas"> Adicionar Pessoas </a></li>
            <li> <a href = "/listarPessoas"> Listar Pessoas </a></li>
            <li class = "empurrar-direita"> 
                <a href = "/contato"> Contato </a></li>
            <li> <a class = "ativo" href = "/sobre"> Sobre o Site </a></li>
            <li> <a href = "/noticias"> Notícias </a></li>
        </ul>
    </nav>
    <h1 class = "texto-recuado"> Este é o site sobre a disciplina Programação Web de 2025.2 da UFERSA Angicos! </h1>
</body>
</html>